.gitattributes git-encoding=ISO8859-1 working-tree-encoding=ISO8859-1
file1 git-encoding=ISO8859-1 working-tree-encoding=IBM-1140
file2 git-encoding=UTF-8 working-tree-encoding=IBM-1140
file2 git-encoding=ISO8859-1 working-tree-encoding=IBM-1140
